body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #000; */
    /* color: white; */
    /* font-family: Arial, sans-serif; */
    text-align: center;
    background-image: url('./img/background.webp');
    background-size: cover;

}

@font-face {
    font-family: 'ZABARS';
    src: url('font/zabars.ttf') format('truetype');
}

#game-container {
    position: relative;
    width: 720px;
    max-width: 100%;
}

#canvas {
    border-radius: 8px;
    display: block;
    width: 100%;
    background-color: #222;
    /* margin-bottom: 20px; */
}

#mobile-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding: 0 10px; */
    /* gap: 210px; */
}

#panelLeft,
#panelRight {
    display: flex;
    gap: 40px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

button:active {
    background-color: #666;
}

.game-over-container,
.win-game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-over-img,
.win-game-img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.restart-button,
.start-game-button,
.back-button,
.home-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-game-button,
.info-game-button,
.back-button,
.home-button {
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.start-game-button:hover,
.info-game-button:hover,
.back-button:hover,
.home-button:hover {
    background-color: #ff4500;
    transform: scale(1.1);
}

.start-game-button:active,
.info-game-button:active,
.back-button:active,
.home-button:active {
    transform: scale(0.95);
}

.c-pointer {
    cursor: pointer;
}

.start-screen-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.info-screen-container {
    width: 100%;
    height: 480px;
    background-color: #e6d59f;
    position: absolute;
    top: 0%;
    z-index: 5;
    border-radius: 8px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serifS;
}

.audio-btn {
    position: absolute;
    z-index: 5;
    bottom: 8px;
    left: 14px;
}

.start-screen-container {
    position: absolute;
    top: 0%;
    /* background-color: #994409; */
    border-radius: 8px;
    height: 100%;
}

.restart-button:hover {
    background-color: #218838;
}

.d-none {
    display: none !important;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-d {
    width: 48px;
    margin: 8px 0;
}

.keyboards-container {
    position: absolute;
    top: 8px;
    gap: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#rotateMessage {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: rgb(158 158 158 / 71%);
    align-content: center;
}

#rotateImage {
    width: 60%;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }
}


.text-turn-display {
    font-size: 4em;
}

@media (min-width:769px) {

    .game-over-container,
    .win-game-container {
        position: absolute;
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 768px) {

    .start-game-button,
    .info-game-button,
    .back-button,
    .home-button {
        padding: 15px;
        font-size: 16px;
        width: 40%;
    }
}

@media (max-width: 900px) {

    .start-game-button,
    .info-game-button,
    .back-button,
    .home-button {
        padding: 15px;
        font-size: 16px;
        width: 40%;
    }

    .start-info-btn-container {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 1%;
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {

    canvas {
        height: 100vh;
    }
}